.input-field {
  margin-top: 16px;
}

.input-field_invalid .input-field__input {
  border-color: #FF3333;
}

.input-field_invalid .input-field__error-message {
  opacity: 1;
}

.input-field__label {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: var(--color-text-first);
}

.input-field__label_add {
  color: var( --color-darkblue);
  display: block;
  margin: auto;
  text-align: center;
  width: 105px;

  cursor: pointer;
}

.input-field__label_attach {
  margin-left: 15px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;

  color: var(--color-main-primary);
}

.input-field__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--color-input-field-border);
  box-sizing: border-box;
  outline: none;
  padding: 0 0 10px;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #000;

  margin-top: 8px;
  transition: all .2s linear;
}

.input-field__input::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #999999;
}

.input-field__input:focus {
  border-bottom: 1px solid #000;
}

.input-field__error-message {
  color: #FF3333;
  font-size: 0.8em;
  transition: .3s;
  padding: 7px 0 0;
  display: block;
  height: 15px;

  opacity: 0;
}

.input-field__error-message_common {
  opacity: 1;
  /*margin-bottom: 6px;*/
  /*margin-top: 0;*/
  margin-bottom: 0;
  margin-top: 6px;
  text-align: center;
}
