{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "lines-between-class-members": "off",
    "no-trailing-spaces": "off",
    "no-unused-vars": "warn",
    "max-len": ["error", { "comments": 120, "code": 210 }],
    "no-undef": "off",
    "no-shadow": "off",
    "no-underscore-dangle": [ "error", { "allow": [
      "_currentElement",
      "__instance",
//      для тестов пришлось добавить, чтобы eslint не ругался
      "_pathname",
      "_blockClass",
      "_block",
      "_props",
    ], "allowAfterThis": true } ],
    "camelcase": ["error", {
      "allow": ["first_name", "second_name", "display_name", "created_by", "unread_count", "last_message", "user_id"]
    }],
    "no-plusplus": "off",
    "no-new": "warn",
    "no-mixed-operators": "warn",
    "object-curly-newline": ["error", {
      "ObjectPattern": { "minProperties": 7 }
    }],
    "import/no-extraneous-dependencies": "off",
    "no-unused-expressions": "off"
  }
}
