@import url(dialogs__choose-one.css);
@import url(dialogs__main.css);
@import url(dialogs__head.css);
@import url(dialogs__info.css);
@import url(dialogs__ava.css);
@import url(dialogs__control.css);
@import url(dialogs__draw-list.css);
@import url(dialogs__button.css);

.dialogs {
  width: 75%;
  height: 100vh;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-text-first);
}
