.dialogs__button {
  width: 30px;
  height: 30px;

  border: none;
  outline: none;
  border-radius: 50%;
  box-sizing: border-box;

  background-image: url("../../images/dialogControl.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.dialogs__button:hover {
  background-color: #F5F5F5;
}
