.message__time-container {
  float: right;
  margin: -14px 0 -5px 4px;

  position: relative;
  z-index: 10;
}

.message__time-container_img {
  position: absolute;
  bottom: 15px;
  right: 15px;

  margin: 0;
  float: none;

  background-color: #fbfbfb;
  padding: 2px 4px;
  border-radius: 9.5px;
}
