.message__box {
  position: relative;
  flex: none;
  color: var(--message-primary);
  font-size: 14.2px;
  line-height: 19px;
}
.message__box:last-of-type {
  margin-bottom: 0;
}

.message__box_width {
  max-width: 65%;
}



@media screen and (max-width: 1300px) {
  .message__box_width {
    max-width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .message__box_width {
    max-width: 85%;
  }
}

@media screen and (max-width: 900px) {
  .message__box_width {
    max-width: 95%;
  }
}
