.message__status {
  width: 16px;
  height: 15px;

  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
}

.message__status_checked {
  background-image: url("../../images/dblChecked.svg");
}

