.message__tail-out {
  position: absolute;
  top: 0;
  z-index: 100;
  display: block;
  width: 8px;
  height: 13px;

  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  background-image: url("../../images/tail_out.svg");
}

