.button-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  background-color: var(--color-background);
  border-right: 1px solid var(--color-border);
  cursor: pointer;
}

.button-back svg {
  transform: rotate(180deg);
}
