@import url(send-message__attach.css);
@import url(send-message__button.css);
@import url(send-message__attach-container.css);
@import url(send-message__form.css);
@import url(send-message__input.css);
@import url(send-message__attach-img.css);
@import url(send-message__draw-list.css);
@import url(send-message__item.css);
@import url(send-message__text.css);


.send-message {
  display: flex;

  padding: 10px 0;
  border-top: 1px solid var(--color-border);
  box-sizing: border-box;
}


/*.send-message__item:hover .send-message__text {*/
/*  font-weight: 600;*/
/*}*/
