@import url(modal__content.css);
@import url(modal__title.css);
@import url(modal__form.css);
@import url(modal__button.css);
@import url(modal__or.css);
@import url(modal__option.css);
@import url(modal__close.css);


.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 201;
  display: flex;
  width: 430px;
  /*min-height: 380px;*/
  background-color: var(--color-main-white);
  border-radius: 16px;

  box-sizing: border-box;
  padding: 50px 30px 30px;
}
.modal_popup {
  padding: 40px 30px;
  width: 340px;
}


@media all and (max-width: 650px) {
  .modal {
    top: 56px;
    left: 0;
    transform: translate(0);
    width: 100%;
    height: calc(100vh - 56px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    padding: 16px 5.2% 0;
  }
}
