.message__container {
  position: relative;
  display: flex;
  flex-direction: column;

  padding-right: 9%;
  padding-left: 9%;
  margin-top: 7px;
  /*margin-bottom: 12px;*/
}

.message__container:first-child {
  margin-top: 0;
}
