.send-message {
  display: flex;

  padding: 10px 0;
  border-top: 1px solid var(--color-border);
  box-sizing: border-box;
}

.send-message__attach {}

.send-message__button {
  width: 30px;
  height: 30px;

  padding: 0;
  margin: 0;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  outline: none;

  background-image: url("../../../assets/images/send.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.send-message__attach-container {
  margin-right: 10px;
  position: relative;
}

.send-message__form {
  width: 100%;
  display: flex;
}

.send-message__input {
  width: 100%;
  background-color: var(--color-input-fill);
  border-radius: 30px;
  border: none;
  outline: none;

  padding-left: 20px;
}

.send-message__input::placeholder {

}

.send-message__attach-img {
  width: 30px;
  height: 30px;

  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0;

  background-image: url("../../../assets/images/attach.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.send-message__attach-img:hover {
  background-image: url("../../../assets/images/attachHover.svg");
}

.send-message__draw-list {
  left: -10px;
  top: -150px;
}
