.messages {
  padding: 1% 0;
  overflow: auto;
  flex: auto;
  box-sizing: border-box;
  /*background-color: var(--color-gray);*/
  height: calc(100vh - 54px - 54px);
}

svg {
  display: block;
  pointer-events: none;
}

.message-out .message__tail-out {
  right: -8px;
  color: var(--outgoing-background);
}

.message-out.message-first .message__wrapper {
  border-top-right-radius: 0;
}

.message-out .message__wrapper {
  background-color: var(--outgoing-background);
}

.message-in .message__tail-in {
  left: -8px;
  color: var(--incoming-background);
}

.message-in.message-first .message__wrapper {
  border-top-left-radius: 0;
}

.message-in .message__wrapper {
  background-color: var(--incoming-background);
}

.message-out {
  align-items: flex-end;
}

.message-in {
  align-items: flex-start;
}

.selectable-text {
  user-select: text;
}

.message__container {
  position: relative;
  display: flex;
  flex-direction: column;

  padding-right: 9%;
  padding-left: 9%;
  margin-top: 7px;
  /*margin-bottom: 12px;*/
}

.message__container:first-child {
  margin-top: 0;
}

.message__box {
  position: relative;
  flex: none;
  color: var(--message-primary);
  font-size: 14.2px;
  line-height: 19px;
}
.message__box:last-of-type {
  margin-bottom: 0;
}

.message__box_width {
  max-width: 65%;
}

.message__tail-out {
  position: absolute;
  top: 0;
  z-index: 100;
  display: block;
  width: 8px;
  height: 13px;

  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  background-image: url("../../../../assets/images/tail_out.svg");
}

.message__wrapper {
  border-radius: 7.5px;

  position: relative;
  z-index: 200;
}

.messages__wrapper_shadow {
  box-shadow: 0 1px .5px rgba(var(--shadow-rgb),.13);
}

.message__core {
  padding: 7px 7px 3px;
  box-sizing: border-box;
}

.message__text-container { }


.message__text-inner-container {
  position: relative;
  /*white-space: pre-wrap;*/
}

.message__text {
  visibility: visible;
}

.message__space {
  display: inline-block;
  width: 75px;
  vertical-align: middle;
}

.message__time-container {
  float: right;
  margin: -14px 0 -5px 4px;

  position: relative;
  z-index: 10;
}

.message__time-container_img {
  position: absolute;
  bottom: 15px;
  right: 15px;

  margin: 0;
  float: none;

  background-color: #fbfbfb;
  padding: 2px 4px;
  border-radius: 9.5px;
}

.message__time-inner-container {
  height: 15px;
  color: var(--bubble-meta);
  font-size: 11px;
  line-height: 15px;
  white-space: nowrap;
}

.message__time {
  display: inline-block;
  vertical-align: top;
}

.message__status-container {
  margin-left: 3px;
  display: inline-block;
  color: var(--bubble-meta-icon);
}

.message__status {
  width: 16px;
  height: 15px;

  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
}

.message__status_checked {
  background-image: url("../../../../assets/images/dblChecked.svg");
}

.message__tail-in {
  position: absolute;
  top: 0;
  z-index: 100;
  display: block;
  width: 8px;
  height: 13px;

  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  background-image: url("../../../../assets/images/tail_in.svg");
}


.message__img {
  width: 100%;
  border-radius: 7.5px;

  object-fit: cover;
}

.message__date {
  display: block;
  text-align: center;

  color: var(--color-text-first);
  margin: 30px auto;
}

.message-first {
  margin-top: 12px;
}



@media screen and (max-width: 1300px) {
  .message__box_width {
    max-width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .message__box_width {
    max-width: 85%;
  }
}

@media screen and (max-width: 900px) {
  .message__box_width {
    max-width: 95%;
  }
}
