.draw-list__img {
  width: 22px;
  height: 22px;
}

.draw-list__img_add {
  background-image: url("../../images/add.svg");
}

.draw-list__img_remove {
  background-image: url("../../images/remove.svg");
}

.draw-list__img_photo-video {
  background-image: url("../../images/attach_photo-video.svg");
}

.draw-list__img_photo {
  background-image: url("../../images/attach_photo.svg");
}

.draw-list__img_location {
  background-image: url("../../images/attach_location.svg");
}
