@import url(draw-list__item.css);
@import url(draw-list__img.css);
@import url(draw-list__text.css);
@import url(draw-list__form.css);


.draw-list {
  position: absolute;
  /*left: -10px;*/
  /*top: -150px;*/
  z-index: 201;

  list-style-type: none;
  padding: 15px;
  box-sizing: border-box;

  background-color: var(--color-background);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
}

.draw-list__item:hover form label {
  font-weight: 600;

  cursor: pointer;
}
