.contacts__last-message {
  margin-top: 7px;


  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
