.input-field__label {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: var(--color-text-first);
}

.input-field__label_add {
  color: var( --color-darkblue);
  display: block;
  margin: auto;
  text-align: center;
  width: 105px;

  cursor: pointer;
}

.input-field__label_attach {
  margin-left: 15px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;

  color: var(--color-main-primary);
}
