.profile__input {
  text-align: end;
  border: none;
  outline: none;

  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  padding: 0;
  font-family: Inter;
  font-style: normal;
}

.profile__input {
  display: none;
}
