@import url(profile__container.css);
@import url(profile__ava.css);
@import url(profile__overlay.css);
@import url(profile__prompt.css);
@import url(profile__name.css);
@import url(profile__list.css);
@import url(profile__item.css);
@import url(profile__item-name.css);
@import url(profile__item-value.css);
@import url(profile__button.css);

.profile {
  width: 100%;

  font-family: Inter;
  font-style: normal;
}

.profile__ava:hover .profile__overlay {
  opacity: 1;
}
.profile__ava:hover .profile__prompt {
  opacity: 1;
}
