.profile__item-name {
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;

  color: var(--color-main-primary);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}


.profile__item-name_change {
  font-weight: 500;
  color: var(--color-darkblue);
}
.profile__item-name_exit {
  font-weight: 500;
  color: red;
}
