.draw-list {
  position: absolute;
  /*left: -10px;*/
  /*top: -150px;*/
  z-index: 201;

  list-style-type: none;
  padding: 15px;
  box-sizing: border-box;

  background-color: var(--color-background);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
}

.draw-list__item:hover form label {
  font-weight: 600;

  cursor: pointer;
}


.draw-list__item {
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
}

.draw-list__item:last-child {
  margin-bottom: 0;
}

.draw-list__item_remove {
  border-top: 1px solid var(--color-border);
  padding-top: 15px;
}

.draw-list__img {
  width: 22px;
  height: 22px;
}

.draw-list__img_add {
  background-image: url("../../../../assets/images/add.svg");
}

.draw-list__img_remove {
  background-image: url("../../../../assets/images/remove.svg");
}

.draw-list__img_photo-video {
  background-image: url("../../../../assets/images/attach_photo-video.svg");
}

.draw-list__img_photo {
  background-image: url("../../../../assets/images/attach_photo.svg");
}

.draw-list__img_location {
  background-image: url("../../../../assets/images/attach_location.svg");
}

.draw-list__text {
  margin-left: 15px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;

  color: var(--color-main-primary);
}

.draw-list__form {
  display: flex;
  align-items: center;
}
