.draw-list {
  position: absolute;
  z-index: 201;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 12px;
  list-style-type: none;
  background-color: var(--color-background);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);

  &__item {
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover form label {
      font-weight: 600;
      cursor: pointer;
    }

    &_remove {
      padding-top: 15px;
      border-top: 1px solid var(--color-border);
    }
  }

  &__img {
    width: 22px;
    height: 22px;

    &_add {
      background-image: url("../../../../assets/images/add.svg");
    }

    &_remove {
      background-image: url("../../../../assets/images/remove.svg");
    }

    &_photo-video {
      background-image: url("../../../../assets/images/attach_photo-video.svg");
    }

    &_photo {
      background-image: url("../../../../assets/images/attach_photo.svg");
    }

    &_location {
      background-image: url("../../../../assets/images/attach_location.svg");
    }
  }

  &__text {
    margin-left: 15px;
    color: var(--color-main-primary);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
  }

  &__form {
    display: flex;
    align-items: center;
  }
}
