.button-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  background-color: var(--color-background);
  border-right: 1px solid var(--color-border);
  cursor: pointer;
}

.button-back__inner {
  width: 28px;
  height: 28px;

  background-size: cover;
  background-position: center;
  background-image: url(../../images/buttonBack.svg);
}
