.popup__close {
  width: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  z-index: 10;
}


@media all and (max-width: 650px) {
  .popup__close {
    width: 24px;
    right: 5.2%;
  }
}
