.input-field {
  margin-top: 16px;

  &__label {
    color: var(--color-text-first);
    font-weight: normal;
    font-size: 12px;
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: 15px;

    &_add {
      display: block;
      width: 105px;
      margin: auto;
      color: var(--color-darkblue);
      text-align: center;
      cursor: pointer;
    }

    &_attach {
      margin-left: 15px;
      color: var(--color-main-primary);
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      white-space: nowrap;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    padding: 0 0 10px;
    border: 0;
    border-bottom: 1px solid var(--color-input-field-border);
    color: #000;
    font-weight: normal;
    font-size: 14px;
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: 17px;
    outline: none;
    transition: all 0.2s linear;

    &::placeholder {
      color: #999;
      font-weight: normal;
      font-size: 14px;
      font-family: Inter, sans-serif;
      font-style: normal;
      line-height: 17px;
    }

    &:focus {
      border-bottom: 1px solid #000;
    }
  }

  &__error-message {
    display: block;
    height: 15px;
    padding: 7px 0 0;
    color: #f33;
    font-size: 0.8em;
    opacity: 0;
    transition: 0.3s;

    &_common {
      opacity: 1;
    }
  }

  &_invalid &__input {
    border-color: #f33;
  }

  &_invalid &__error-message {
    opacity: 1;
  }
}
